# PostgreSQL
development:
  adapter: postgresql
  encoding: unicode
  database: central_support_test
  pool: 5

test:
  adapter: postgresql
  host: postgres
  username: postgres
  password: postgres
  encoding: unicode
  database: central_support_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: central_support_test
  pool: 5
